{% load staticfiles %}

<!DOCTYPE html>
<head>
	<link type="text/css" rel="stylesheet" href="{% static 'css/courgette_base_stylesheet.css' %}"
	<link href="https://fonts.googleapis.com/css?family=Fredoka+One|Roboto" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<title>COURGETTE</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>